.wrapper {
    width: 10%;
    height: 30%;
    margin-left: 10px;
    margin-right: 10px;
    /*O usando los padding*/
    padding-left: 10px;
    padding-right: 10px
}

.combo{
    width: 10%;
    height: 30%;
   
}

.bajar {
    margin-top: 10px;
}

.titulo{
    text-align: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
}